.carousel {
    width: 100%;
    overflow: scroll;
    padding: 1em;
    position: relative;
}

.carousel__container {
    white-space: nowrap;
    margin: 2em 0em;
    padding-bottom: 1em;
}
.carousel__item {
    display: inline-block;
    width: 12em;
    height: 15em;
    border-radius: 1em;
    overflow: hidden;
    margin-right: 0.8em;
    cursor: pointer;
    transition: 400ms;
    transform-origin: center left;
    position: relative;
}

.carousel__item:hover ~ .carousel__item {
    transform: translate3d(6em, 0, 0);
}

.carousel__container:hover .carousel__item {
    opacity: 0.3;
}

.carousel__container:hover .carousel__item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel__image {
    object-fit: cover;
}
.carousel__item:hover .carousel__details {
    opacity: 1;
}
.carousel__details {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 3em;
    position: absolute;
    
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    color: white;
}
