:root {
    --background-color: #f1f1f1;
    --secondary-color: #dae9f2;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    margin: 0;
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration-line: underline;
}

.footer {
    background: linear-gradient(
        to top,
        rgba(255, 254, 254, 0.9) 0%,
        rgba(180, 167, 167, 0) 100%
    );
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer a {
    padding-left: 30px;
}
@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        font-size: 14px;
    }
}
